button{
    width:100px;
    height:60px;
    color: white;
    font-family: 'Heebo'; 
    font-style: normal;
    text-align: center;
    border: none;
}

.Acro{
    background-color:#3B515B;
    display: inline-block;
}

.ColorBlind{
    background-image:linear-gradient(-28.8deg, rgb(102,102,102),rgb(51,51,51));
    display:inline-block;
}

.MacDegen{
    color:yellow;
    background-image:linear-gradient(-28.8deg, #ED1C24, #741D68);
}

.Pro{
    color:white;
    background-image:linear-gradient(-28.8deg, #C1272D, #FF553F);
}

.Deu{
    color:#2E3192;
    background-image:linear-gradient(28.8deg, #F7931E, #FFFF00);
}

.Tri{
    color:black;
    background-image: linear-gradient(-28.8deg, #F9CFF5, #FF4EDC);
}

.Back{
    color:black;
}